@charset'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,600;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;800;900&display=swap');

/*초기화*/
* {margin:0;padding:0;}
*::before,
*::after {box-sizing: border-box;}
ul,li {list-style:none;}
a {text-decoration:none;color:#333;}
img {vertical-align:top;border:0;}
input {border:0;}
button {outline:0;border:0;cursor:pointer;}

/*공통*/
.wrapper {
  position:relative;
  width:85%;
  height:100%;
  margin:0 auto;
}
.clearfix:after {
  content:'';
  display:block;
  clear:both;
  height:0;
}
/*헤더*/
header {
  position:fixed;
  top:0;
  left:0;
  z-index:9999;
}
header > h1 {
  text-indent:-9999px;
}
/*로고*/
header > div:nth-child(2) {
  width:100px;
  position:fixed;
  top:40px;
  left:50px;
  z-index:9999;
}
header > div:nth-child(2) > a > img {
  width:100%;
}
/* header > div:nth-child(3) {
  position:fixed;
  top:8%;
  right:10%;
  margin-left:-20px;
} */
/*gnb버튼(지도모양)*/
/* header > div:nth-child(3) {
  font-size:50px;
  position:fixed;
  top:50px;
  right:60px;
  cursor:pointer;
  color:#f2e04e;
  transition:all 0.3s;
  transform:rotate(0deg);
}
header > div:nth-child(3):hover {
  color:#0f4ce9;
  transform:rotate(10deg);
} */

/*햄버거버튼*/
header > .hamBtn {
  position:fixed;
  top:50px;
  right:60px;
  cursor:pointer;
  width:40px;
  height:30px;
  z-index:9999;
  /* position:absolute;
  top:0;
  left:0; */
}
header > .hamBtn > span {
  position:absolute;
  width:100%;
  height:3px;
  background:#222;
  border-radius:2px;
  transition:all 0.3s ease;
}
header > .hamBtn > span:nth-child(1) {
  top:0;
}
header > .hamBtn > span:nth-child(2) {
  top:50%;
  margin-top:-1.5px;
  right:0;
}
header > .hamBtn > span:nth-child(3) {
  bottom:0;
}
header > .hamBtn:hover > span:nth-child(2) {
  width:60%;
  right:0;
}
header > .on > span:nth-child(1) {
  top:50%;
  transform:rotate(45deg);
}
header > .on > span:nth-child(2) {
  display:none;
}
header > .on > span:nth-child(3) {
  top:50%;
  transform:rotate(-45deg);
}

/*gnb*/
#gnb {
  width:100%;
  height:0;
  background:#221e20;
  /*background:#f2e04e;*/
  position:fixed;
  text-align:left;
  z-index:7777;
}
#gnb > .menu {
  width:60%;
  height:100%;
  background-color:transparent;
  position:absolute;
  top:0;
  right:0;
}
#gnb > .menu > ul {
  position:absolute;
  top:200px;
  left:5%;
  display:none;
}

#gnb > .menu > ul > li > a {
  display:inline-block;
  font-size:60px;
  margin-bottom:60px;
  color:#eee;
  font-family:'Raleway';
  font-style:italic;
  font-weight:500;
  position:relative;
  top:0;
  left:0;
}
/*gnb메뉴 호버시 텍스트 색깔 참*/
#gnb > .menu > ul > li > a::before {
  content:attr(data-text); /*data-text값*/
  position:absolute;
  left:0;
  top:0;
  width:0%;
  overflow:hidden;
  white-space:nowrap;
  transition:all 0.4s ease-in-out;
  color:#cca69a;
}
#gnb > .menu > ul > li:hover > a::before {
  width:120%;
}

/*gnb 숨겨져있는 숫자*/
#gnb > .menu > ul > li > span {
  display:inline-block;
  font-size:50px;
  color:#cca69a;
  font-family:'Raleway';
  font-style:italic;
  font-weight:500;
  position:relative;
  top:0;
  left:35px;
  opacity:0;
  transition:all 0.6s cubic-bezier(0.63, 0.03, 0.21, 1);
}
#gnb > .menu > ul > li:hover > span {
  left:10px;
  opacity:1;
}
/* #gnb > .menu > ul > li > span::before {
  content:attr(data-text); 
  position:absolute;
  right:0;
  top:0;
  width:0%;
  overflow:hidden;
  white-space:nowrap;
  transition:0.3s ease-in;
  color:#cca69a;
  font-weight:300;
} */
#gnb > .menu > ul > li:hover > span::before {
  width:130%;
}
/*#gnb > .menu > ul > li:nth-child(1) > span::before {
  color:#5781ef;
}
#gnb > .menu > ul > li:nth-child(2) > span::before {
  color:#0f4ce9;
}
#gnb > .menu > ul > li:nth-child(3) > span::before {
  color:#0c3cba;
}
#gnb > .menu > ul > li:nth-child(4) > span::before {
  color:#092d8b;
}
#gnb > .menu > ul > li:nth-child(5) > span::before {
  color:#030f2e;
}*/









/*네비게이션*/
nav {
  position:absolute;
  top:50%;
  left:50px;
  margin-top:-100px;
  z-index:100;
}
nav > ul {
  position:relative;
}
nav > ul > li > a {
  height:50px;
  line-height:50px;
  border-bottom:0px solid transparent;
  box-sizing:border-box;
  color:#fff;
  transition:all .4s;
  font-size:10px;
}
nav > ul > li > a:hover {
  border-bottom:1px solid #fff;
}
nav > ul > li.on > a {
  border-bottom:1px solid #fff;
}

/*section 공통*/
section {
  width:100%;
  height:auto; /*윈도우의 높이*/
}

/*1.인트로페이지*/
#intro {
  /*background:url('../img/pattern-bg.jpg') no-repeat;
  background-size:cover;
  background-position:top;*/
  background:#fbe275;
}
/*마우스스크롤 애니메이션*/
#intro > div:nth-child(1) {
  position:absolute;
  top:85%;
  left:60px;
  width:20px;
  height:50px;
  opacity:1;
}
/* #intro > div:nth-child(1) > div:nth-child(1) {
  width:20px;
  height:40px;
  border-radius:20px;
  border:2px solid #222;
} */
/*SCROLL txt*/
#intro > div:nth-child(1) > div:nth-child(1) {
  font-size:18px;
  font-family:'Raleway';
  margin-left:5px;
  transform:rotate(270deg);
}
#intro > div:nth-child(1) > div:nth-child(2) {
  color:#222;
  position:absolute;
  top:30px;
  left:50%;
  margin-left:-3px;
  font-size:23px;
  animation-name:down;
  animation-delay:0s;
  animation-duration:1s;
  animation-timing-function:linear;
  animation-direction:normal;
  animation-iteration-count:infinite;
}
#intro > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
  margin-bottom:-12px;
}
/*마우스휠*/
/* #intro > div:nth-child(1) > div:nth-child(1) > div {
  width:2px;
  height:6px;
  border-radius:30%;
  background:#222;
  position:absolute;
  top:20%;
  left:50%;
  margin-left:1px;
  animation-name:wheel;
  animation-delay:0s;
  animation-duration:.8s;
  animation-timing-function:linear;
  animation-direction:alternate;
  animation-iteration-count:infinite;
} */
/*인트로페이지 내 인삿말*/
#intro > .hello {
  position:absolute;
  top:25%;
  right:10%;
  text-align:right;
  overflow:hidden;
}
#intro > .hello > div {
  position:relative;
  overflow:hidden;
  width:100%;
  height:170px;
  margin-bottom:-10px;
}
#intro > .hello > div > div {
  position:relative;
  bottom:-150px;
  transition:all 0.8s;
  padding-left:20px;
  padding-right:10px;
}
#intro > .hello > div > div.show {
  bottom:0;
}
#intro > .hello > div > div > span {
  display:inline-block;
  font-size:160px;
  text-align:right;
  font-weight:600;
  font-family:'Raleway';
  color:#111;
  opacity:1;
  cursor:pointer;
  transform:scale(1,1);
  margin-bottom:10px;
}
#intro > .hello > div > div > span:hover {
  animation:intro 0.6s ease;
  color:#fff;
  /*color:#f2e04e;*/
}
/* #intro > .hello > div {
  font-size:60px;
  text-align:right;
  font-family:'Raleway';
  color:#111;
}
#intro > .hello > div:nth-child(1) {
  margin-top:20px;
} */


/* #intro > div:nth-child(2) > span:hover {
  transform:scale(1.05);
  color:#f2e04e;
} */
/*2.보유스킬 페이지*/
#skills {
  background:#f2e04e;
}
/*h2공통*/
section > .wrapper > h2 {
  font-size:40px;
  position:absolute;
  top:45px;
  right:80px;
}
/*3.코닥어패럴*/
#kodak {
  background:#2c2c2c;
}
#kodak > .wrapper > div:nth-child(1) {
  width:46%;
  height:100%;
  background:url('../img/kodak_mockup.png') no-repeat;
  background-size:contain;
  background-position:top;
  position:absolute;
  top:210px;
  right:-1%;
  opacity:0.3;
}

#kodak > .wrapper > h2 {
  color:#666;
  opacity:1;
  font-weight:bold;
  font-family:'Ubuntu';
}
#kodak .info {
  color:#e1e1e1;
}
#kodak .info > div > span:nth-child(2) > a {
  color:#e1e1e1;
}
#kodak button {
  bottom:-40px;
}
/*4.따릉이*/
#bike {
    background:#abb2f9;
}
#bike > .wrapper > div:nth-child(1) {
  width:46%;
  height:100%;
  background:url('../img/bike_mockup.png') no-repeat;
  background-size:contain;
  background-position:top;
  position:absolute;
  top:210px;
  right:-1%;
  opacity:0.3;
}
#bike > .wrapper > h2 {
  color:#d7ff1f;
  font-weight:bold;
  font-family:'Ubuntu';
}
#bike button {
  bottom:-10px;
}
#bike button > span {
  background:#d7ff1f;
}
#bike button > div {
  border:2px solid #d7ff1f;
}
/*5.헬리녹스*/
#helinox {
  background:#884c53;
}
#helinox > .wrapper > div:nth-child(1) {
  width:46%;
  height:100%;
  background:url('../img/helinox_mockup2.png') no-repeat;
  background-size:contain;
  background-position:top;
  position:absolute;
  top:200px;
  right:4%;
  opacity:0.3;
}
#helinox > .wrapper > h2 {
  color:#dedede;
  opacity:1;
  font-weight:bold;
  font-family:'Ubuntu';
}
#helinox button {
  bottom:-40px;
}
#helinox button > span {
  background:#dedede;
}
#helinox button > div {
  border:2px solid #dedede;
}
/*포폴 정보설명 공통*/
.info {
  width:500px;
  height:300px;
  position:absolute;
  top:32%;
  left:13%;
  color:#fefefe;
  font-family:'Merriweather Sans';
}
/*큰제목*/
.info > div:nth-child(1) > span:nth-child(1) {
  font-size:40px;
  font-style:normal;
}
.info > div:nth-child(1) > span:nth-child(3) {
  font-size:50px;
  font-weight:bold;
  font-style:italic;
}
.info > div:nth-child(1) {
  margin-bottom:50px;
}
/*소제목*/
.info > div {
  margin-bottom:10px;
}
.info > div > span:nth-child(1) {
  font-size:20px;
  margin-right:25px;
  font-style:italic;
  font-weight:700;
}
/*내용*/
.info > div > span:nth-child(2) {
  font-size:16px;
  font-weight:lighter;
}
.info > div > span:nth-child(2) > a {
  display:inline-block;
  text-align:bottom;
  cursor:pointer;
  color:#fefefe;
}

/*********목업*********/
.mockup {
  width:680px;
  height:400px;
  position:absolute;
  top:320px;
  right:8%;
  z-index:1111;
}
/*동영상 고정용 초기화면*/
/* .mockup > div:nth-child(1) {
  width:650px;
  height:400px;
  position:absolute;
  top:16px;
  left:30px;
  overflow:hidden;
}
.mockup > div:nth-child(1) > img {
  position:absolute;
  top:0;
  left:-5px;
  width:100%;
} */
/*동영상 박스*/ 
.mockup > figure {
  position:absolute;
  top:0;
  left:2%;
  width:95%;
  opacity:1;
  background-color:red;
}
.mockup > figure > iframe {
  width:100%;
}
/*pc목업 이미지 공통*/
.mockup > div:nth-child(2) {
  width:100%;
  position:absolute;
  top:0;
  left:0;
}
.mockup > div:nth-child(2) > img {
  width:100%;
}
/*각 동영상별 초기화 이미지*/
#kodak > .wrapper > .mockup > figure {
  background:url('../img/kodak_img.png') no-repeat;
  background-size:contain;
  background-position:1px 16px;
}
#bike > .wrapper > .mockup > figure {
  background:url('../img/bike_img.png') no-repeat;
  background-size:contain;
  background-position:1px 16px;
}
#helinox > .wrapper > .mockup > figure {
  background:url('../img/helinox_pc_img.png') no-repeat;
  background-size:contain;
  background-position:1px 16px;
}
#helinox > .wrapper > .mockup_t > figure {
  background:url('../img/helinox_ta_img.png') no-repeat;
  background-size:contain;
  background-position:1px 3px;
}
#helinox > .wrapper > .mockup_m > figure {
  background:url('../img/helinox_mo_img.png') no-repeat;
  background-size:contain;
  background-position:1px 0px;
}




/*헬리녹스 PC목업*/
#helinox > .wrapper > .mockup {
  top:33%;
  right:0%;
}
/*헬리녹스 타블렛목업*/
#helinox > .wrapper > .mockup_t {
  width:230px;
  position:absolute;
  top:510px;
  right:39%;
  z-index:2222;
}
#helinox > .wrapper > .mockup_t > figure {
  position:absolute;
  overflow:hidden;
  width:94%;
  left:2.6%;
  top:3.5px;
}

#helinox > .wrapper > .mockup_t > figure > iframe {
  width:100%;
}
#helinox > .wrapper > .mockup_t > div:nth-child(2) {
  width:100%;
  position:absolute;
  top:0;
  left:0;
}
#helinox > .wrapper > .mockup_t > div:nth-child(2) > img {
  width:100%;
}
/*헬리녹스 모바일목업*/
#helinox > .wrapper > .mockup_m {
  width:120px;
  position:absolute;
  top:580px;
  right:30%;
  z-index:3333;
}
#helinox > .wrapper > .mockup_m > figure {
  position:absolute;
  overflow:hidden;
  width:90%;
  left:4%;
  top:8.5px;
}
#helinox > .wrapper > .mockup_m > figure > iframe {
  width:100%;
}
#helinox > .wrapper > .mockup_m > div:nth-child(2) {
  width:100%;
  position:absolute;
  top:0;
  left:0;
}
#helinox > .wrapper > .mockup_m > div:nth-child(2) > img {
  width:100%;
}
/*버튼 스타일*/
button {
  position:absolute;
  bottom:0;
  left:0px;
}
button > span {
  background:#ffb300;
  width:300px;
  height:50px;
  font-size:20px;
  cursor:pointer;
  line-height:50px;
  position:absolute;
  top:0;
  left:0;
  font-family:'Poppins';
  font-weight:800;
  color:#fff;
}
button > span > a {
  color:#fff;
  display:block;
}
button > div {
  width:300px;
  height:50px;
  border:2px solid #ffb300;
  position:absolute;
  top:3px;
  left:3px;
}

/*6.컨텍트+마무리페이지*/
#contact {
  background:#d0d1ad;
}
#contact > .wrapper > h2 {
  color:#f7ea49;
  font-weight:bold;
  font-family:'Ubuntu';
  z-index:1111;
}
#contact > .wrapper > div:nth-child(2) {
  position:absolute;
  top:15%;
  left:20%;
}
#contact > .wrapper > div:nth-child(2) > div:nth-child(1) {
  width:150px;
  height:150px;
  background:#f7ea49;
  margin-bottom:20px;
}
#contact > .wrapper > div:nth-child(2) > span {
  font-size:40px;
  color:#111;
  font-family:'Noto Sans KR';
  font-weight:bold;
  line-height:1.5;
  z-index:3333;
  position:absolute;
  top:170px;
  left:0;
  width:450px;
  line-height:1.5em; 
}
#contact > .wrapper > div:nth-child(3) {
  position:absolute;
  bottom:25%;
  right:10%;
}
#contact > .wrapper > div:nth-child(3) > div:nth-child(1) {
  width:550px;
  height:200px;
  background:#f7ea49;
  margin-bottom:20px;
}
#contact > .wrapper > div:nth-child(3) > div:nth-child(2) {
  width:150px;
  height:150px;
  border-radius:100%;
  background:#0f4ce9;
  position:absolute;
  top:-75px;
  right:30px;
}
#contact > .wrapper > div:nth-child(3) > div > span:nth-child(1) {
  font-size:25px;
  color:#111;
  font-family:'Ubuntu';
  font-style:italic;
  font-weight:bold;
  margin-right:20px;
  z-index:2222;
}
#contact > .wrapper > div:nth-child(3) > div > span:nth-child(2) {
  font-size:23px;
  color:#111;
  font-family:'Ubuntu';
  font-weight:500;
  z-index:2222;
}


#contact {
  position:relative;
}
/*footer*/
footer {
  width:100%;
  height:40px;
  background:rgba(0,0,0,0.5);
  font:12px/40px 'nanumgothic';
  text-align:center;
  color:#fff;
  text-shadow:1px 1px 1px rgba(0,0,0,0.5);
  position:absolute;
  bottom:0;
  left:0;
}




/*************************************
animation
*************************************/

@keyframes logo {
  0%{top:29%;}
  50%{top:30%;}
  100%{top:31%;}
}
@keyframes wheel {
  0%{top:20%;}
  100%{top:40%;}
}
@keyframes down {
  0%{
    bottom:-60%;
    opacity:0;
  }
  100%{
    bottom:-70%;
    opacity:1;
  }
}
@keyframes intro {
  0%{transform:scale(1,1)}
  30%{transform:scale(1.3,0.7)}
  40%{transform:scale(1.15,1.25)}
  50%{transform:scale(1.15,0.85)}
  65%{transform:scale(0.95,1.05)}
  80%{transform:scale(1.05,0.95)}
  100%{transform:scale(1,1)}
}


/*미디어쿼리*/
@media screen and (min-width:) and (max-width:1650px) {


}